<p><strong>Class:</strong> ISIT 322</p>
<p><strong>Student:</strong> Andrey Kashcheev</p>
<p><strong>Professor:</strong> Charles Calvert</p>

<p><strong>Description:</strong> This project is designed to cover the following topics:</p>
<ul>
  <li>How to use Yeoman Generator to create AngularJS project</li>
  <li>Using GruntJS task runner to automate development process</li>
  <li>Creating AngularJS project with multiple views, controllers and factories</li>
  <li>Ability to interact with public API to query data</li>
  <li>Ability to visualize received data by using Google Graph Charts</li>
  <li>Writing unit tests by using Jasmine or Chai framework</li>
  <li>Using mock object ($httpBackEnd) to simulate API call and test methods that work with received data</li>
</ul>

