<h2>CensusData</h2>
<h3>States Data</h3>
<select ng-model="nodeRouteCtrl.userSelection" ng-options="state[2] as state[1] for state in nodeRouteCtrl.states" ng-change="nodeRouteCtrl.search()">
  <option style="display:none" value="">select a region</option>
</select>
<select ng-model="nodeRouteCtrl.userSelection2" ng-options="race as race for race in nodeRouteCtrl.races" ng-change="nodeRouteCtrl.searchForRace()">
  <option style="display:none" value="">select race</option>
</select>
<p>Population: {{nodeRouteCtrl.statePop}}</p>
<hr>
<h3>Washington State Population by ZIP code</h3>
<select ng-model="nodeRouteCtrl.userSelection3" ng-options="zip[2] for zip in nodeRouteCtrl.zips" ng-change="nodeRouteCtrl.getZipPopulation()">
  <option style="display:none" value="">select a zip</option>
</select>
<p>Population: {{nodeRouteCtrl.zipPop}}</p>
