<h3>Cordova Plugins</h3>
<div id="deviceready">
    <p class="event listening">No device detected.</p>
    <p class="event received">Device is Ready</p>
</div>
<div>
    <h4>Geo Location Plugin</h4>
    <ul id="geo"></ul>
    <ul id="debug"></ul>
    <button id="runGeo">Run Geo</button>
    <p>Troubles? Is GPS turned on?</p>
</div>
<div>
    <h4>Network Information</h4>
    <p id="status"></p>
    <button id="runNetworkInfo">Run Network Info</button>
</div>
