<div>
	<ul>
		<li>
			<p><strong>meeting_id</strong> : 1</p>
			<p><strong>day</strong> : Sunday</p>
			<p><strong>time</strong> : 06:00:00</p>
			<p><strong>town</strong> : Bellevue</p>
			<p><strong>meeting_name</strong> : Function Kings</p>
			<p><strong>location</strong> : City Hall</p>
			<p><strong>street_address</strong> : 12 NE 83 St</p>
			<p><strong>city</strong> : Bellevue</p>
			<p><strong>state</strong> : WA</p>
			<p><strong>zip</strong> : 98005</p>
			<p><strong>subjects</strong> : F#</p>
		</li>
		<li>
			<p><strong>meeting_id</strong> : 2</p>
			<p><strong>day</strong> : Sunday</p>
			<p><strong>time</strong> : 07:00:00</p>
			<p><strong>town</strong> : Seattle</p>
			<p><strong>meeting_name</strong> : Wayward Commas</p>
			<p><strong>location</strong> : Rage Against the Machine</p>
			<p><strong>street_address</strong> : 15 NE 58 St</p>
			<p><strong>city</strong> : Seattle</p>
			<p><strong>state</strong> : WA</p>
			<p><strong>zip</strong> : 98005</p>
			<p><strong>subjects</strong> : HTML; CSS; JavaScript</p>
		</li>
		<li>
			<p><strong>meeting_id</strong> : 3</p>
			<p><strong>day</strong> : Monday</p>
			<p><strong>time</strong> : 07:00:00</p>
			<p><strong>town</strong> : Bellevue</p>
			<p><strong>meeting_name</strong> : Syntax Ships</p>
			<p><strong>location</strong> : Jump Building</p>
			<p><strong>street_address</strong> : 11 168 Ave NE</p>
			<p><strong>city</strong> : Bellevue</p>
			<p><strong>state</strong> : WA</p>
			<p><strong>zip</strong> : 98007</p>
			<p><strong>subjects</strong> : CSS</p>
		</li>
		<li>
			<p><strong>meeting_id</strong> : 4</p>
			<p><strong>day</strong> : Tuesday</p>
			<p><strong>time</strong> : 07:00:00</p>
			<p><strong>town</strong> : Seattle</p>
			<p><strong>meeting_name</strong> : Backend Bambinos</p>
			<p><strong>location</strong> : Mickeys</p>
			<p><strong>street_address</strong> : 121 143 Ave NE</p>
			<p><strong>city</strong> : Seattle</p>
			<p><strong>state</strong> : WA</p>
			<p><strong>zip</strong> : 98007</p>
			<p><strong>subjects</strong> : Python</p>
		</li>
		<li>
			<p><strong>meeting_id</strong> : 5</p>
			<p><strong>day</strong> : Wednesday</p>
			<p><strong>time</strong> : 08:30:00</p>
			<p><strong>town</strong> : Redmond</p>
			<p><strong>meeting_name</strong> : Freedom Coders</p>
			<p><strong>location</strong> : Empire Way</p>
			<p><strong>street_address</strong> : 330 18 Ave SE</p>
			<p><strong>city</strong> : Redmond</p>
			<p><strong>state</strong> : WA</p>
			<p><strong>zip</strong> : 98052</p>
			<p><strong>subjects</strong> : C#</p>
		</li>
		<li>
			<p><strong>meeting_id</strong> : 6</p>
			<p><strong>day</strong> : Thursday</p>
			<p><strong>time</strong> : 09:30:00</p>
			<p><strong>town</strong> : Bellevue</p>
			<p><strong>meeting_name</strong> : Hacker Paradise</p>
			<p><strong>location</strong> : Lonnies Bar and Grill</p>
			<p><strong>street_address</strong> : 122 SE 92 St</p>
			<p><strong>city</strong> : Bellevue</p>
			<p><strong>state</strong> : WA</p>
			<p><strong>zip</strong> : 98005</p>
			<p><strong>subjects</strong> : HTML; CSS; JavaScript</p>
		</li>
		<li>
			<p><strong>meeting_id</strong> : 7</p>
			<p><strong>day</strong> : Thursday</p>
			<p><strong>time</strong> : 12:30:00</p>
			<p><strong>town</strong> : Bellevue</p>
			<p><strong>meeting_name</strong> : Web Kings</p>
			<p><strong>location</strong> : East Hall</p>
			<p><strong>street_address</strong> : 12 NE 60 St</p>
			<p><strong>city</strong> : Bellevue</p>
			<p><strong>state</strong> : WA</p>
			<p><strong>zip</strong> : 98005</p>
			<p><strong>subjects</strong> : JavaScript</p>
		</li>
		<li>
			<p><strong>meeting_id</strong> : 8</p>
			<p><strong>day</strong> : Friday</p>
			<p><strong>time</strong> : 13:30:00</p>
			<p><strong>town</strong> : Monroe</p>
			<p><strong>meeting_name</strong> : Night Hackers</p>
			<p><strong>location</strong> : Winter Clubhouse</p>
			<p><strong>street_address</strong> : 16 NE 171 St</p>
			<p><strong>city</strong> : Monroe</p>
			<p><strong>state</strong> : WA</p>
			<p><strong>zip</strong> : 98005</p>
			<p><strong>subjects</strong> : HTML; CSS</p>
		</li>
		<li>
			<p><strong>meeting_id</strong> : 9</p>
			<p><strong>day</strong> : Friday</p>
			<p><strong>time</strong> : 14:00:00</p>
			<p><strong>town</strong> : Kirkland</p>
			<p><strong>meeting_name</strong> : Infinite Loop</p>
			<p><strong>location</strong> : Tall Building</p>
			<p><strong>street_address</strong> : 38 NE 93 St</p>
			<p><strong>city</strong> : Kirkland</p>
			<p><strong>state</strong> : WA</p>
			<p><strong>zip</strong> : 98005</p>
			<p><strong>subjects</strong> : JavaScript</p>
		</li>
		<li>
			<p><strong>meeting_id</strong> : 10</p>
			<p><strong>day</strong> : Saturday</p>
			<p><strong>time</strong> : 17:30:00</p>
			<p><strong>town</strong> : Issaquah</p>
			<p><strong>meeting_name</strong> : Callbacks</p>
			<p><strong>location</strong> : Real Estates</p>
			<p><strong>street_address</strong> : 12302 NE 27 St</p>
			<p><strong>city</strong> : Issaquah</p>
			<p><strong>state</strong> : WA</p>
			<p><strong>zip</strong> : 98005</p>
			<p><strong>subjects</strong> : Java; C#</p>
		</li>
	</ul>
</div>