extends layout
block content
    h1= title
    p Welcome to #{title}
    input#getStates(type='button', value='Get and Store States Data')
    input#getZips(type='button', value='Get and Store Zips Data')
