<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-click="checkConnection()">Network</a></p>
</div>

<div class="row marketing">
  <h4>The connection</h4>

    <p>
        {{connectionStatus}}
    </p>


</div>
