<div><span class="labels">{{onions[0].v}}:</span>
  <input type="number" ng-model="onions[1].v"
         class="ng-pristine ng-valid ng-valid-number">
</div>
<div google-chart chart="chartObject" style="height:600px; width:100%;"></div>
