<select ng-model="chartSelect.value"
        ng-options="v for v in chartSelect.values" ng-change="chartTypeUpdate()">
</select>
<div google-chart chart="chartObject" style="height:600px; width:100%;"></div>


<div id="myLabels">
  <span class="labels pull-left">{{danemark[0].v}}:</span>
  <input type="number" ng-model="danemark[1].v" class="ng-pristine ng-valid ng-valid-number pull-right"></br>
  <span class="labels pull-left">{{austria[0].v}}:</span>
  <input type="number" ng-model="austria[1].v" class="ng-pristine ng-valid ng-valid-number pull-right"></br>
  <span class="labels pull-left">{{sweden[0].v}}:</span>
  <input type="number" ng-model="sweden[1].v" class="ng-pristine ng-valid ng-valid-number pull-right"></br>
  <span class="labels pull-left">{{russia[0].v}}:</span>
  <input type="number" ng-model="russia[1].v" class="ng-pristine ng-valid ng-valid-number pull-right"></br>
  <span class="labels pull-left">{{germany[0].v}}:</span>
  <input type="number" ng-model="germany[1].v" class="ng-pristine ng-valid ng-valid-number pull-right"></br>
  <span class="labels pull-left">{{france[0].v}}:</span>
  <input type="number" ng-model="france[1].v" class="ng-pristine ng-valid ng-valid-number pull-right"></br>
</div>
