<h2>CensusData</h2>
<select ng-model="userSelection" ng-options="state[1] as state[0] for state in states" ng-change="search()">
  <option style="display:none" value="">select a region</option>
</select>
<select ng-model="userSelection2" ng-options="race as race for race in races" ng-change="searchForRace()">
  <option style="display:none" value="">select race</option>
</select>
<p>Population: {{pop}}</p>


<hr/>
<select ng-model="chartSelect.value"
        ng-options="v for v in chartSelect.values" ng-change="chartTypeUpdate()">
</select>
<br/>
<br/>
<input ng-click="topFive();" type="button" value="Get Top 5">
<div id="myChart" google-chart chart="chartObject" style="height:600px; width:100%;"></div>

