<h2>CensusData</h2>
<h3>Washington State Population by ZIP code</h3>
<select ng-model="userSelection" ng-options="state[2] for state in states" ng-change="getZipPopulation()">
  <option style="display:none" value="">select a zip</option>
</select>
<p>Population: {{pop}}</p>

<hr/>
<select ng-model="chartSelect.value"
        ng-options="v for v in chartSelect.values" ng-change="chartTypeUpdate()">
</select>
<br/>
<input ng-click="topFive();" type="button" value="Get Top 5">
<div google-chart chart="chartObject" style="height:600px; width:100%;"></div>


