<h2>CensusData</h2>
<select ng-model="userSelection" ng-options="state[1] as state[0] for state in states" ng-change="search()">
  <option style="display:none" value="">select a region</option>
</select>
<select ng-model="userSelection2" ng-options="race as race for race in races" ng-change="searchForRace()">
  <option style="display:none" value="">select race</option>
</select>
<p>Population: {{pop}}</p>


