<h2>CensusData</h2>
<h3>Washington State Population by State</h3>
<select ng-model="chartSelect.value"
        ng-options="v for v in chartSelect.values" ng-change="chartTypeUpdate()">
</select>
<br/>
<br/>
<input ng-click="graphItems(0,5);" type="button" value="Graph Top 5">
<input ng-click="graphItems(0,15);" type="button" value="Graph Top 15">
<input ng-click="graphItems(0,-10);" type="button" value="Graph Bottom Ten">
<input ng-click="graphItems(0,-7);" type="button" value="Graph Bottom Seven">
<div id="myChart" google-chart chart="chartObject" style="height:600px; width:100%;"></div>
