<h2>CensusData</h2>
<h3>Washington State Population by ZIP code</h3>
<select ng-model="userSelection" ng-options="state[2] for state in states" ng-change="getZipPopulation()">
  <option style="display:none" value="">select a zip</option>
</select>
<p>Population: {{pop}}</p>




