<div class="jumbotron">
  <h1>Census States</h1>
  <p class="lead">
    <img src="images/icon.png" alt="Bellevue College"><br>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">GO HAWKS!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

