//
   Created by Andrey Kashcheev on 3/9/15.

extends layout
include mixins
block content
    h1= title
    input#pageOne(type='button', value='States View')
    input#pageTwo(type='button', value='Zips View')
    hr
    #viewsArea
    hr
    h3 Data Stores:
    select#dropDown
    input#queryDataStore(type='button', value='get All')
    input#issaqPop(type='button', value='get only Issaquah')
    hr



    +attribution