extends layout
include mixins

block content
  h1= title
  include:md index.md
  //hr
  //input#openDb(type='button', value='createDb')
  //input#insert(type='button', value='insert')
  //input#getData(type='button', value='getData')
  //input#getDbName(type='button', value='getDbName')
  //input#deleteDB(type='button', value='deleteDB')
  //input#clearStore(type='button', value='clearStore')
  hr
  a(href="about") About



  +attribution
