//
   Created by Andrey Kashcheev on 3/16/15.

extends layout
include mixins
block content
    +attribution
    h1= title
    p This assignment is designed to learn how to built one page web-site with Express project as well as integrate mixins and markdown files