doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.css')
    block js
      script(src="components/jquery/dist/jquery.js")
      script(src="components/bootstrap/dist/js/bootstrap.js")
  body
    block content
