//
   Created by Andrey Kashcheev on 3/16/15.
mixin attribution()
    .header
        .navbar.navbar-default(role='navigation')
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#js-navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Week09-JadeMarkdown
                #js-navbar-collapse.collapse.navbar-collapse
                        ul.nav.nav-pills.pull-right
                            li(class="{ active: isActive('/')}")
                                a(href='/') Home
                            li(class="{ active: isActive('/censusApi')}")
                                a(href='/censusApi') Census Api
                            li(class="{ active: isActive('/mixinMadness')}")
                                a(href='/mixinMadness') Mixin Madness
                            li(class="{ active: isActive('/about')}")
                                a(href='/about') About