<h2>CensusData</h2>
<select ng-model="userSelection" ng-options="state[1] as state[0] for state in states" ng-change="search()">
    <option style="display:none" value="">select a region</option>
</select>
<p>{{pop}}</p>