<h2>CensusData</h2>
<h3>Washington State Population by State</h3>
<select ng-model="stateGraphCtrl.chartSelect.value"
        ng-options="v for v in stateGraphCtrl.chartSelect.values" ng-change="stateGraphCtrl.chartTypeUpdate()">
</select>
<br/>
<br/>
<input ng-click="stateGraphCtrl.graphItems(0,5);" type="button" value="Graph Top 5">
<input ng-click="stateGraphCtrl.graphItems(0,15);" type="button" value="Graph Top 15">
<input ng-click="stateGraphCtrl.graphItems(0,-10);" type="button" value="Graph Bottom Ten">
<input ng-click="stateGraphCtrl.graphItems(0,-7);" type="button" value="Graph Bottom Seven">
<div id="myChart" google-chart chart="stateGraphCtrl.chartObject" style="height:600px; width:100%;"></div>
