<h2>CensusData</h2>
<select ng-model="statesCtrl.userSelection" ng-options="state[1] as state[0] for state in statesCtrl.states" ng-change="statesCtrl.search()">
  <option style="display:none" value="">select a region</option>
</select>
<select ng-model="statesCtrl.userSelection2" ng-options="race as race for race in statesCtrl.races" ng-change="statesCtrl.searchForRace()">
  <option style="display:none" value="">select race</option>
</select>
<p>Population: {{statesCtrl.pop}}</p>

