<h2>CensusData</h2>
<h3>Washington State Population by ZIP code</h3>
<select ng-model="zipGraphCtrl.chartSelect.value"
        ng-options="v for v in zipGraphCtrl.chartSelect.values" ng-change="zipGraphCtrl.chartTypeUpdate()">
</select>
<br/>
<input ng-click="zipGraphCtrl.graphItems(0,5);" type="button" value="Graph Top 5">
<input ng-click="zipGraphCtrl.graphItems(0,15);" type="button" value="Graph Top 15">
<input ng-click="zipGraphCtrl.graphItems(0,-10);" type="button" value="Graph Bottom Ten">
<input ng-click="zipGraphCtrl.graphItems(0,-7);" type="button" value="Graph Bottom Seven">
<div google-chart chart="zipGraphCtrl.chartObject" style="height:600px; width:100%;"></div>
