<h2>CensusData</h2>
<h3>Washington State Population by ZIP code</h3>
<select ng-model="zipsCtrl.userSelection" ng-options="state[2] for state in zipsCtrl.states" ng-change="zipsCtrl.getZipPopulation()">
  <option style="display:none" value="">select a zip</option>
</select>
<p>Population: {{zipsCtrl.pop}}</p>




